<!DOCTYPE html>
<html>
<head>
    <title>Redirecting to PayFast...</title>
</head>
<body onload="document.forms['payfast_form'].submit()">
    <p>Redirecting to PayFast Sandbox for payment...</p>
    <form name="payfast_form" method="post" action="{{ payfast_url }}">
        {% for key, value in data.items() %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
        <noscript><input type="submit" value="Pay Now"></noscript>
    </form>
</body>
</html>
